@using Vidly.Models
@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>@Model.Name</h2>
<ul>
    <li>Membership Type : @Model.MembershipType.Name</li>
    @if (Model.Birthdate.HasValue)
    {
        <li>Birth Date: @Model.Birthdate.Value.ToString("dd-MM-yyyy")</li>
    }


</ul>

